body{
    
    font-family: 'Libre Baskerville', serif;;
}
.side-margin{
    margin: 0 5%;
}
.orange{
    color: orange;
}
.learn{
    display: flex;
        
}
.student{
    width: 50%;
}
.hero{
    margin-left: 40px;
}
.bannr{
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
    font-size: 15px;
}
.button{
    width: 20%;
    background-color: tomato;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
}
.img{
    width: 70%;
    padding: 10px;
    margin-left: 20%;
}
.button1{
    width: 30%;
    background-image:linear-gradient(tomato, orange);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
}
.plan{
    text-align: center;
}
.mission{
    box-sizing: content-box;
    margin: 5px 20px;
    padding: 40px;
    border-radius: 35px;
    background-color: #e5d2e959;
}
.vission{
    box-sizing: content-box;
    margin: 5px 20px;
    padding: 40px;
    border-radius: 35px;
    background-color: #c6dbc2d2;
}
.goals{
    box-sizing: content-box;
    margin: 5px 20px;
    padding: 40px;
    border-radius: 35px;
    background-color: #ddd7c5c4;
}
.img1{
    width: 50%;
}
.learn-2{
    display: flex;
    margin-top: 80px;
        
}
.img2{
    width: 50%;
    margin-left: 30px;
}
.develop{
    width: 50%;   
}
.img3{
    width: 50%;
}

.corona{
    text-align: center;
}
.save{
    width: 45%;
}
.footer{
    color: blanchedalmond;
    background-color: black;
    padding: 35px 0;

}
h4{
 font-size: 40px; 
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
 text-align: center;
}
.end{
    text-align: center;
}